﻿body,td,th {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height:150%;
	}
body {
	background-color: #F0EFF2;
	background-image: url(../images/bg_02.gif);	
	background-repeat: repeat-x;
	background-position: top;	
	MARGIN: 0px;
	padding:0px;
	border:0px none;
	word-break:break-all
}
p,form{margin:0px; padding:0px}
ul {margin:0; padding:0; list-style-type:none }
ol {margin:0; padding:0; list-style-type:none }
li {margin:0; padding:0 }
a:link {
	color: #666666;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #666666;
}
a:hover {
	text-decoration: underline;
	color: #067FCE;
}
a:active {
	text-decoration: none;
	color: #067FCE;
}

a.white_link:link {
	color: #FFFFFF;
	text-decoration: none;
}
a.white_link:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a.white_link:hover {
	text-decoration: underline;
	color:#0F228B;
}
a.white_link:active {
	text-decoration: none;
	color: #0F228B;
}
a.menu:link {
	color: #09539C;
	text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11.5px;
}
a.menu:visited {
	text-decoration: none;
	color: #09539C;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11.5px;
}
a.menu:hover {
	text-decoration: underline;
	color: #067FCE;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11.5px;
}
a.menu:active {
	text-decoration: none;
	color: #067FCE;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11.5px;
}

a.blue:link {
	color: #0381cc;
	text-decoration: underline;
	font-size:11.5px;
}
a.blue:visited {
	text-decoration: underline;
	color: #0381cc;
	font-size:11.5px;
}
a.blue:hover {
	text-decoration: underline;
	color: #067FCE;
	font-size:11.5px;
}
a.blue:active {
	text-decoration: none;
	color: #067FCE;
	font-size:11.5px;
}

a.mapblue:link {
	color: #5190CA;
	font-size:13px;
	font-weight: bold;
	text-indent: 20px;
}
a.mapblue:visited {
	color: #5190CA;
	font-size:13px;
	font-weight: bold;
	text-indent: 20px;
}
a.mapblue:hover {
	text-decoration: underline;
	color: #ff0000;
	font-size:13px;
	font-weight: bold;
	text-indent: 20px;
}
a.mapblue:active {
	color: #5190CA;
	font-size:13px;
	font-weight: bold;
	text-indent: 20px;
}

.borer_l_r {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CDCCCA;
	border-left-color: ##CDCCCA;
}
.index_title {
	font-weight: bold;
	color: #07519A;
}
.border_lr_blue {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #2295F4;
	border-left-color: #2295F4;
}
.border_lrb_blue {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #2295F4;
	border-bottom-color: #2295F4;
	border-left-color: #2295F4;
}
.cur_title {
	background-image: url(../images/product1_07.gif);
	height: 21px;
	width: 110px;	
	color: #3257AF;
}
.nocur_title {
	background-image: url(../images/product1_09.gif);
	background-repeat: no-repeat;
	background-position: center;
	height: 21px;
	width: 110px;
	color:#45A9F7;
	cursor:hand;
	font-style:italic;
}
.border_bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #04329C;
}
.border_b {
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #0066CC;
}
.font_blue {
	font-weight: bold;
	color: #0066CC;
}
.font_cc {
	color: #C00000;
}
.input {
	border: 1px solid #2F59AF;
}
.news_list_bg {
	background-image: url(../images/list_bg_03.gif);
	background-repeat: repeat-x;
	background-position: center top;
}
.pcont {
 FLOAT: left; OVERFLOW: hidden; WIDTH: 420px
}
.ScrCont {
 WIDTH: 32766px; ZOOM: 1
}
#List1_1 {
 FLOAT: left
}
#List2_1 {
 FLOAT: left
}

.pl IMG {
 DISPLAY: block; MARGIN: 6px auto 1px; CURSOR: pointer; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.pl {
 BORDER-RIGHT: #f3f3f3 1px solid; BORDER-TOP: #f3f3f3 1px solid; FLOAT: left; BORDER-LEFT: #f3f3f3 1px solid; WIDTH: 103px; LINE-HEIGHT: 24px; BORDER-BOTTOM: #f3f3f3 1px solid; TEXT-ALIGN: center; TEXT-DECORATION: underline
}
A.pl:hover {
 BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ff9900 1px solid; COLOR: #ff9900; BORDER-BOTTOM: #ff9900 1px solid
}

/***.flashNews .bg {position:absolute;left:0;bottom:0;width:285px;height:25px; background-image:url(../images/2_02.gif);}filter:alpha(opacity=30);-moz-opacity:0.39;opacity:0.39;**/
.flashNews{position:relative;float:left;width:285px;height:221px;overflow:hidden;}
			.flashNews .bg {position:absolute;left:0;bottom:0;width:285px;height:22px; background-image:url(../images/2_02.jpg);}
			.flashNews h3 {position:absolute;left:10px;top:190px;width:285px;height:35px;line-height:35px;z-index:2;}
				.flashNews h3 a {font-size:12px;font-weight:normal;color:#7B767A;}
				.flashNews h3 a:hover {color:#F20000;}
			.flashNews p {position:absolute;left:10px;top:135px;width:285px;height:20px;line-height:20px;;z-index:2;}
				.flashNews p a {color:#FFFFFF;}
				.flashNews p a:hover {color:#F20000;}
			.flashNews ul {position:absolute;right:0;bottom:0;no-repeat;z-index:2; margin-bottom:2px}
				.flashNews ul li {float:left;width:15px;height:18px;line-height:18px;text-align:center;margin-left:1px;background:#CCCCCC;}
					.flashNews ul li a {display:block;width:15px;height:18px;font-size:10px;font-family:Tahoma;font-weight:bold;color:#FFFFFF;}
					.flashNews ul li a:hover, .flashNews ul li a.sel {color:#F20000;}		
.leftclass{border-right:1px #023399 solid; border-left:2px #0066cb solid; width:150px; height:684px; background-color:#0066cb}	

.leftclassdivtitle{margin-top:6px; height:23px; background-color:#0089e7;text-align:left; font-weight:800;width:100%;font-size:12px;font-family: arial, verdana, helvetica}
.leftclassdivtitleon{margin-top:6px; height:23px; background-color:#e7efff;text-align:left; font-weight:800;width:100%;font-size:12px;font-family: arial, verdana, helvetica; padding-top:5px;}
.leftclassdivtitleon img{padding-left: 5px;}
.leftclassdivtitleon span{height:23px;width:145px;color:#0089e7}

.leftclassdivtitle a{padding: 5px 0px 0px 5px; display:block; height:23px; width:145px;text-decoration:none; float:left;color:#FFF}
.leftclassdivtitle a span{}
.leftclassdivtitle a:hover{background-color:#06c;text-decoration:none;color:#FFF}
.leftclassdivtitle a:visited{text-decoration:none;color:#FFF}

.leftclassdiv{text-align:left; width:150px;font-size:12px; font-family: arial, verdana, helvetica}
.classon{display:block; height:23px; width:133px;background-color:#e7efff;color:#0089e7;padding-left:17px}
.leftclassdiv ul li{ height:23px; background-color:#0089e7; margin-top:1px; width:150px}
.leftclassdiv ul li a{ color:#FFF; display:block; height:23px; width:133px;text-decoration:none; padding-left:17px}
.leftclassdiv ul li a:hover{background-color:#06c;color:#FFF;text-decoration:none}
.leftclassdiv ul li a:visited{color:#FFF;text-decoration:none}
.leftclassdiv ul li a span{word-spacing:-5px}

.leftsearchbox input{margin-top:53px; margin-left:3px; width:95px; border:1px #0066cb solid}
.leftsearchbutton input{margin-top:24px; margin-left:68px; border:0px; margin-bottom:43px}

.productlist{width:100%; height:auto}
.productlist ul li{ width:125px; height:220px; margin:0px 10px 8px 0px; border:1px #82a7fa solid; float:left}
.productlist ul li img{display:block; border:0px;width:125px; height:200px; }
.productlist ul li span{ text-align:center; display:block }
.pagelist{height:23px; width:100%; margin:10px 0px;text-align:right; margin-right:10px}
