<!--<table width="855" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="borer_l_r">
  <tr>
    <td width="380" align="center" valign="top"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="66" align="center"><img src="images/index_17.gif" width="249" height="19" /></td>
      </tr>
      <tr>
        <td height="150" align="left" valign="top"><div align="justify" style="color:#09539C">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BiClean Group has been focused on manufacturing high quality toothbrushes since 1997 . The Brand Polish toothbrushes expressly cater to the consumer who seek high quality at a reasonable price. Using innovation in design and intelligence in the manufacturing process, we pride of our-selves on products that offer the utmost in value.</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Feel free to contact us with any questions. Our Research &amp; Design department is always developing new innovative products,so keep checking back for new items! </p>
        </div></td>
      </tr>
    </table><br />	
<br />

<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="31%" rowspan="2" align="left" valign="top"><img src="images/index_23.jpg" width="88" height="74" /></td>
    <td width="69%" align="left" valign="middle" style="background-color:#2395F5; color:#FFFFFF;font-weight: bold;font-family: Tahoma;" height="18px"><strong>&nbsp;&nbsp;Polish Oral Care Center</strong></td>
  </tr>
  <tr>
    <td align="left" valign="top">Practicle articles written by experts help you learn more about tooth and keep your teeth beauty!<br />
      <%call getnews(9,4,22,1)%>
	  </td>
  </tr>
</table>
<br />
	
	<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="31%" rowspan="2" align="left" valign="top"><img src="images/index_46.jpg" width="87" height="74" /></td>
         <td width="69%" align="left" valign="middle" style="background-color:#2395F5; color:#FFFFFF;font-weight: bold;font-family: Tahoma;" height="18px"><strong>&nbsp;&nbsp;Polish Latest News</strong></td>
      </tr>
      <tr>
        <td align="left" valign="top">Here are the latest news of Polish such as  Activities, Exhibitions!<br />
           <%call getnews(7,4,22,1)%></td>
      </tr>
    </table>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td valign="top">
	<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<!--#include file="inc/page.asp"-->
<%
st=""
if id<>0 then st=" and p_type_id="&id
%>
	<table width="460" border="0" cellspacing="0" cellpadding="0">
      <tr>
         <td height="10"><table border="0" cellspacing="0" cellpadding="0" height="10"><tr><td><img src="images/product1_03.gif" width="460" height="10" /></td></tr></table></td>
      </tr>
      <tr>
        <td valign="bottom" height="23"  background="images/product_bg.gif" class="border_lr_blue" style="padding-left:8px"><table  border="0" cellpadding="0" cellspacing="0">
          <tr id="myTab0">
            <td align="center" class="<%=c1%>"><a href="">Adult Toothbrush</a></td>
            <td align="center" class="<%=c2%>"><a href="">Child Toothbrush</a></td>
            <td align="center" class="<%=c3%>"><a href="">Travel Toothbrush</a></td>
			<td align="center" class="<%=c4%>"><a href="">Electric Toothbrush</a></td>
           
          </tr>
        </table></td>
      </tr>
      <tr valign="top">
        <td class="border_lrb_blue" style="padding:10px" valign="top" height="570" >		
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	
		<%
	dim sql
	set rs=server.CreateObject("adodb.recordset")
	sql="select p_id,p_name_e,p_pic from p_info where p_id>1 "&st&" order by p_name_e"
	rs.open sql,conn,1,1
	if rs.bof and rs.eof then
	response.Write("<tr><td>No Products!</td></tr>")
	else
	dim page,pic,j
	page=cint(request.querystring("page"))	
	rs.pagesize=8
	if (page-rs.pagecount) > 0 then
		page=rs.pagecount
	elseif page = "" or page < 1 then
		page = 1
	end if
	rs.absolutepage=page
	i=1
	do while not rs.eof and i<=rs.pagesize
	getId=rs("p_id")
	pic=rs("p_pic")
	getTitle=rs("p_name_e")	
	%>      
        <td width="100" height="250" align="left"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
          <tr align="left">
            <td height="225" align="center" class="pro" valign="top"><a href="toothbrush_view.asp?id=<%=getId%>"><img src="<%=pic%>" alt="<%=getTitle%>&nbsp;<%=titles%>" width="100" height="225" border="0" /></a></td>
          </tr>
          <tr>
            <td align="center"><a href="toothbrush_view.asp?id=<%=getId%>"><span style=" color:#3257AF"><strong><%=getTitle%></strong></span></a></td>
          </tr>
        </table></td>
		<%if i mod 4 <>0 then%><td width="5">&nbsp;</td><%end if%>
		<%
		if i mod 4=0 then response.Write("</tr><tr><td colspan=10><table height=""5"" border=""0"" cellpadding=""0"" cellspacing=""0""><tr><td height=5></td></tr></table></td></tr><tr align=""left"">")
		i=i+1
		rs.movenext
		loop		
		for j=i to 4
		%>
		<td width="100" height="250" align="left"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
          <tr align="left">
            <td height="225" align="center" class="pro" valign="top"></td>
          </tr>
          <tr>
            <td align="center"></td>
          </tr>
        </table></td><td width="5">&nbsp;</td>
		<%
		next
		end if			
	%>
		
      </tr>
	  <tr height="10">
	  	<td colspan="8" align="right"></td>
	 </tr> 
	  <tr>
	  	<td colspan="8" align="right"><%call showpage(rs.PageCount,rs.pagesize,page,rs.RecordCount,8) %></td>
	 </tr>   
 
 <%rs.close
 set rs=nothing%>         
        </table>
         </td>
      </tr>
    </table>
	<table width="95%" border="0" cellpadding="0" height="10">
		<tr>
		<td></td>
		</tr>		
		</table>
	</td>
  </tr>
</table>-->